<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSH Connect</title>
</head>
<body>
    <form method="post" action="/">
        <div class="brand-logo"></div>
        <div class="brand-title">SSH Login</div>
      
        <div class="inputs">

          <label>Username</label>
          <input name="username" type="text" placeholder="" />
          <label >IP Address</label>
          <input name="ip_address" placeholder="" type="text">
          <label >Password</label>
          <input name="pass" placeholder="" type="password">

          <button type="submit">Connect</button>
      </form>  
</body>
</html>